.dashboard-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #0f172a;
}

.dashboard-body {
  flex: 1;
  display: flex;
}

/* Navbar */

.navbar {
  height: 70px;
  background: black;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 25px;
}

.logo {
  color: #a176ea;
  font-size: 30px;
  font-weight: bold;
}

.search {
  width: 420px;
  height: 40px;

  background: #080b12;

  border: 2px solid #a176ea;

  border-radius: 10px;

  color: white;

  padding-left: 15px;
}

.nav-icon {
  color: #a176ea;
  font-size: 22px;
  cursor: pointer;
}

.nav-icon:hover {
  transform: scale(1.1);
}

/* Sidebar */

.sidebar {
  width: 220px;

  background: #243355;

  padding: 20px;

  display: flex;
  flex-direction: column;

  gap: 12px;

  border-right: 2px solid white;
}

.sidebar-link {
  color: white;

  text-decoration: none;

  padding: 12px;

  border-radius: 8px;

  transition: 0.3s;
}

.sidebar-link:hover {
  background: black;

  color: #a176ea;
}

/* Main Content */

.main-content {
  flex: 1;

  padding: 25px;

  display: flex;

  flex-direction: column;

  gap: 25px;

  overflow-y: auto;
}

.row {
  display: flex;

  gap: 25px;
}

/* Cards */

.welcome-card,
.stats-card,
.recent-card,
.assistant-card {
  flex: 1;

  background: #1e293b;

  color: white;

  border-radius: 12px;

  padding: 25px;

  display: flex;

  flex-direction: column;

  gap: 10px;
}

.welcome-card {
  flex: 2;
}

.stats-card {
  flex: 1;
}

.recent-card {
  flex: 1;
}

.assistant-card {
  flex: 1;
}

h2 {
  margin-bottom: 10px;
}

p {
  line-height: 1.5;
}
