.dashboard-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #0f172a;
}

.dashboard-body {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.sidebar {
  width: 25%;
  background-color: #243355;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  border-right: 3px solid white;
}
.sidebar div {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  font-size: medium;
  transition: all 0.3s;
}
.sidebar div:hover {
  color: #a176ea;
  background-color: #080b12;
}

.main-content {
  flex: 1;
  padding: 20px;
}
.navbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: black;
  color: #a176ea;
}

.navbar div:first-child {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
}
.navbar div:nth-child(2) {
  width: 500px;
  height: 30px;
  border: 2px solid #a176ea;
  padding: 2px 2px;
  border-radius: 10px;
}
.navbar div:nth-child(2):hover {
  cursor: pointer;
  background-color: #160e22;
}
.navbar div:nth-child(3) {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
.navbar div:nth-child(3):hover {
  background-color: #352256;
}
.navbar div:nth-child(4) {
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}
.navbar div:nth-child(4):hover {
  background-color: #352256;
}
.main-content {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 50px;
}
.welcome-card {
  background: #1e293b;
  border-radius: 10px;
  padding: 30px;
  color: #e2e8f0;
}
